
<div class="main">
  <div  class = "details" *ngIf="employee">

    <h2 ><span class="name">{{employee.firstname | uppercase}} {{employee.lastname| uppercase}}</span>  Details <div class="id"> <span >id: </span>{{employee.id}}</div></h2>
    <div>
      <div class="container">

       <p>Firstname:
         <input [(ngModel)]="employee.firstname" placeholder="firstname" class="Form"/>
       </p>
       <br>
       <p>Lastname:
        <input [(ngModel)]="employee.lastname" placeholder="lastname" class="Form"/>
      </p>
      <br>
      <p>Age:
        <input [(ngModel)]="employee.age" type="number" min="18" max="99" step="1" class="Form"/>
      </p>
      <br>
      <p>Gender:
        <select [(ngModel)]="employee.gender"  class="Form">
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </p>
      <br>
      <p>Department:
        <select [(ngModel)]="employee.department"  class="Form">
          <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
        </select>
      </p>
      <br>
    </div>

    <div *ngIf="a">
    <button class="showDetails" (click) = "Show()">Show Department Details</button>
    </div>

    <div *ngIf="dep">
      <p *ngIf="dep" class="dep"> Department name: {{dep.name}} // Department location: {{dep.location}} </p> <button class="delete" (click) = "Delete()">Hide</button>
    </div>

    <span class = "backbtn">
     <button class="btn" (click) = "goBack()">Back</button>
   </span>

   <span class = "addbtn">
    <button class="btn" (click)="save()">Save</button>
  </span>
</div>
</div>
</div>
