<div *ngIf="todo">
  <h2>{{todo.fName}} Details</h2>
  <div><span>Id: </span>{{todo.id}}</div>
  <div>
    <label>First name:
      <input [(ngModel)]="todo.fName" placeholder="First name?"/>
    </label>
    <br>
    <label>Last name:
      <input [(ngModel)]="todo.lName" placeholder="Last name?"/>
    </label>
    <br>
    <label>Task:
      <input [(ngModel)]="todo.task" placeholder="Task"/>
    </label>
    <br>
    <label>Department:
      <input [(ngModel)]="todo.department" placeholder="Department"/>
    </label>
    <br>

  </div>
  <span><button class="btn btn-dark" (click) = "goBack()">Back</button>
  </span>
  <span><button class="btn btn-dark" (click)="save()">Save</button>
  </span>

</div>
