<div class="det" *ngIf="todo">
  <div>
    <h2 ><span>{{todo.task}}</span> Details <div class="id"> <span >id: </span>{{todo.id}}</div></h2>
    <div>
      <p>Task:
        <input [(ngModel)] = "todo.task" placeholder="task" />
      </p>
      <p>Department:
        <select [(ngModel)]="todo.department"  class="Form">
          <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
        </select>
      </p>
      <p>Employee:
        <select [(ngModel)]="todo.employee" class="Form">
          <option *ngFor="let employee of employees" value="{{employee.firstname}}">{{employee.firstname}}</option>
        </select>
      </p>
      <span>
        <button class="btn btn-dark" (click)="goBack()" (click)="save();">Save</button>
      </span>

    </div>
  </div>
