
<div class="page">
    <div id="Box">
        <h2>Add Employee</h2>
        <form>
            <p>First name
                <input #empfName class="Form" type="text" name="firstname" pattern="[A-Za-z]" required>
            </p>
            <p>Last name
                <input #emplName class="Form" type="text" name="lastname" pattern="[A-Za-z]" required>
            </p>
            <p>Age
                <input #age type="number" min="18" max="99" step="1" class="Form"/> 
            </p>

            <p>Gender
                <select #gender  class="Form">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
              </select>
          </p>

          <p>Department

            <select #department class="Form">
             <option *ngFor="let department of departments" value="{{department.name}}">{{department.name}}</option>
         </select>
     </p>
     <span class = "backbtn">
        <button class="btn" (click) = "goBack()">Back</button>
    </span>
    <span class = "addbtn">
        <button class="btn" (click)="add(empfName.value, emplName.value,age.value,gender.value,department.value); empfName.value='';  emplName.value = ''; age.value = ''; gender.value = ''; department.value = '';">Add</button>
    </span>
</form>
</div>
</div>


