
<ul class = "ul">
	<li><a class="routes" routerLink="/employees">Employees</a></li>
	<li><a class="routes" routerLink="/departments">Departments</a></li>
	<li><a class="routes" routerLink="/todo"><span class="taskDash">Tasks</span></a></li>
</ul>

<ul class="info">
	<li>
		<div class = "empinfo">
			<p class="empnr"><span class="label">Numbers of Employees: </span>{{numberEmployees}} </p>

			<p> <span class="label">Number of female Employees:</span> {{female}}</p>
			<p> <span class="label">Number of male Employees:</span> {{male}}</p>
		</div>
	</li>
	<li>
		<div class = "depinfo">
			<p class="nrdep"><span class="label">Nr of departments: </span>{{depNumber}} </p>
			<p> <span class="label">Departments in Eindhoven:</span>  {{inEindhoven}}</p>
			<p> <span class="label">Departments not in Eindhoven:</span> {{notEindhoven}}</p>

		</div>
	</li>
	<li>
		<div class = "taskinfo">
			<p class="tasks"><span class="label">Number of tasks: </span>{{numberTasks}}</p>

		</div>

	</li>
</ul>
