.ul li {
	text-decoration: none;
	display: inline-block;
	padding:10px;
	margin-right: 100px;
	margin-top: 100px;
	font-size: 45px;

}
.routes{
	text-decoration: none;
	color:solid black;
	padding: 5px;
}
ul{
	text-align: center;
}
.empinfo{
	border:solid black 3px;
	border-radius: 20px;
	width: 250px;
	height: 160px;
	text-align: center;
	margin-left: 13%;
	margin-top: 5%;
	color:darkblue;
	font-size: 17px;


}

.depinfo{
	border:solid black 3px;
	border-radius: 20px;
	width: 250px;
	height: 160px;
	text-align:justify;
	margin-left: 45%;
	margin-top: -25%;
	color:darkblue;
	font-size: 17px;
}
.depinfo p{
	float:right;
	margin-right: 13px;
}
.depnr{

	padding-bottom: 90px;
	margin-top: -35%;
}

.taskinfo{
	border:solid black 3px;
	border-radius: 20px;
	width: 250px;
	height: 160px;
	text-align: center;
	margin-left: 70%;
	margin-top: 5%;
	color:darkblue;
  font-size: 17px;}

.empinfo p{
	float:right;
	margin-right: 13px;
}
.empnr{
	margin-top:17px;
}

.label{
	font-style: solid;
	color: black;
	float: left;
	font-size: 14px;
}
