
<div class="page">
            <div id="Box">
                <h2>Add Department</h2>
                <form>

                    <p>Department name
                        <input #depName class="Form" type="text" name="name" pattern="[A-Za-z]" required>
                    </p>
                    <p>Location
                        <input #depLocation class="Form" type="text" name="location" pattern="[A-Za-z]" required>
                    </p>




                    <span class = "backbtn">
                    <button class="btn" (click) = "goBack()">Back</button>
                    </span>
                    <span class = "addbtn">
                    <button class="btn" (click)="add(depName.value, depLocation.value); depName.value='';  depLocation.value = ''; ">Add</button>
                    </span>
                </form>
            </div>
        </div>
