<!--
<div class="main">
<div  class = "details" *ngIf="department">

  <h2 ><span class="name">{{department.name }} {{department.location}}</span>  Details </h2>
  <div>
      <div class="container">
<div> <span >id: </span>{{department.id}}</div>
         <p>Department name:
           <input [(ngModel)]="{{s}}" placeholder="name" class="Form"/>
          </p>
       <br>
          <p>Location:
            <input [(ngModel)]="department.location" placeholder="location" class="Form"/>
          </p>
       <br>

      <p> Employee:
       <select [(ngModel)]="department.employee"  class="Form">
         <option *ngFor="let employee of employees" value="{{employee.firstname}}">{{employee.firstname}}</option> 
       </select>
     </p>
 </div>

 <div *ngIf="average">
 <button class="showDetails" (click) = "Show()">Show Employee Details</button>
 </div>

 <div *ngIf="emp">
   <p *ngIf="emp" class="emp"> Employee id: {{emp.id}} </p>
   <p *ngIf="emp" class="emp"> Employee name: {{emp.firstname}}   {{emp.lastname}}   </p>
   <p *ngIf="emp" class="emp"> Employee gender: {{emp.gender}} </p>
   <p *ngIf="emp" class="emp"> Employee age: {{emp.age}} </p>
   <button class="delete" (click) = "Delete()">Hide</button>
 </div>



<span class = "backbtn">
                    <button class="btn" (click) = "goBack()">Back</button>
                    </span>
                    <span class = "addbtn">
                    <button class="btn" (click)="save()">Update</button>
 </span>
</div>
</div>
</div>
-->
