<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Department</th>
      <th scope="col">Employee</th>
    </tr>
  </thead>
<tr *ngFor = "let todo of todos" [class.selected]="todo === selectedTask"
(click)="onSelect(todo)">
  <td>
    <span>{{todo.idE}}</span>
  </td>
  <td><span>{{todo.task}}</span>
  </td>
  <td ><span>{{todo.department}}</span>
  </td>
  <td><span>{{todo.employee}}</span></td>
  <td> <button (click)="delete(todo)">delete</button></td>

</tr>
</table>
<button type="button" class="btn btn-dark"> <a class="addemployee" routerLink="/addtask"> Add a new Task </a></button>
<br>
<todetail [todo]="selectedTask"></todetail>
