
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Task</th>
      <th scope="col">Department</th>
      <th scope="col">Employee</th>
    </tr>
  </thead>
  <tr *ngFor="let todo of todos | taskfilter : searchTask" [class.selected]="todo === selectedTask" (click)="onSelect(todo)">
    <td>
      <span>{{todo.idE}}</span>
    </td>
    <td><span>{{todo.task}}</span>
    </td>
    <td><span (click)="show(todo.department)">{{todo.department}}</span>
    </td>
    <td><span (click)="showEmployee(todo.employee)">{{todo.employee}}</span></td>
    <td><button (click)="delete(todo)">delete</button></td>

  </tr>
</table>
<button type="button" class="btn btn-dark"><a class="addemployee" routerLink="/addtask"> Add a new Task </a></button>
<br>
<br>
<div class="searchTask">
  <p class="search">Search a task:</p>
  <input [(ngModel)]="searchTask" placeholder="Task">
  </div>
<div *ngIf="depart != null">
  <label>Dep ID:</label> {{depart.id}}
  <br>
  <br>
  <label>Dep Location:</label> {{depart.location}}
  <br>
  <br>
  <label>Dep Name:</label> {{depart.name}}
  <br>
  <br>
</div>

<div *ngIf="employee != null">
  <label>Employee ID:</label> {{employee.id}}
  <br>
  <br>
  <label>First Name:</label> {{employee.firstname}}
  <br>
  <br>
  <label>Last Name:</label> {{employee.lastname}}
  <br>
  <br>
</div>

<app-to-detail [todo]="selectedTask"></app-to-detail>
