h2{
	padding-bottom: 10px;
	padding-top: 10px;
	margin-left:15px;
	font-family:"Times New Roman";
	font-style: oblique;
	font-size: 40px;

}
.table{
	width:90%;
	height:200px;
	border:solid;
	margin: 15px;
	margin-top: 10px;

}
th, td {
    padding: 7px;
    font-size: 15px;
    text-align: center;
}
.adddepartment{
	text-decoration: none;
	padding: 5px;
	font-size: 16px;
	background-color: grey;
	border-radius: 10px;
	color: white;

	margin-right: 500px;
}
.delete{
	border-radius: 10px;
	background-color: grey;
	color:white;
}
.link{
	font-style: oblique;

}
.info{
	margin-left: 20px;
	font-style: oblique;
}
.container{
	margin-left: 100px;
}
.adddepartment{

	border-radius:30px;


	margin-left: 470px;
}
.searchDep{
	margin-left: 15px;
}
