
<div class="main">
<div  class = "details" *ngIf="department">

  <h2 ><span class="name">{{department.name }} {{department.location}}</span>  Details </h2>
  <div>
      <div class="container">

         <p>Department name:
           <input [(ngModel)]="department.name" placeholder="name" class="Form"/>
          </p>
       <br>
          <p>Location:
            <input [(ngModel)]="department.location" placeholder="location" class="Form"/>
          </p>
       <br>


  </div>
<span class = "backbtn">
                    <button class="btn" (click) = "goBack()">Back</button>
                    </span>
                    <span class = "addbtn">
                    <button class="btn" (click)="save()">Update</button>
 </span>
</div>
</div>
</div>
